@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --bg-color:#1f1f38;
    --bg-color-variant:#2c2c6c;
    --color-primary:#E42391;
    --color-primary-variant:rgba(77,181,255,0.4);
    --color-white:white;
    --color-light:rgba(255,255,255,0.6);
    --transtion:0.3s;
}
::selection{
    background-color: var(--color-primary);
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color:var(--color-white);
    line-height: 1.7;
}


::-webkit-scrollbar{
    display: none;
}
a{
    color:var(--color-primary);
    transition: var(--transtion);
}
a:hover{
    color: var(--color-white);
}

.main-header{
    color: var(--color-primary);
}