nav{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.3);
    padding: 10px 20px;
    backdrop-filter: blur(15px);
    display: flex;
    z-index: 10000;
}
nav a{
    margin: 0 7px;
    color: #4db5ff;
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

nav a.active{
    background-color: rgba(255,255,255,0.3);
}
